
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
  
  .list-news .card.servicepage{
    margin: 0 auto;
  }
  
  .list-news .container-news {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list-news .card-body {
    padding: 10px;
  }
  
  .list-news .number {
    margin: 0%;
    color: #716b6b;
    font-size: 85%;
  }

  .card-title {
    color: black;
    /* font-family: serif; */
    font-family: 'PT Serif', sans-serif;
    display: flex;
    font-size: 16px;
  }

  p.card-title {
    color: black;
    /* font-family: serif; */
    font-family: 'PT Serif', sans-serif;
    display: flex;
    font-size: 16px;
  }

  .div-card{
    padding: 0% 10% 0% 10%;
  }
  
  .div-card:hover {
    background-color: #e9eaea;
  }

  @media (max-width: 500px), (min-width: 755px) and (max-width: 1125px) {


 
}
    