@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.styles_faq-row-wrapper__3Hsch {
    --title-text-color:black;
    --row-title-color: #dce3de;
}

#react-faq-rowcontent-1, #react-faq-rowcontent-2, #react-faq-rowcontent-3, #react-faq-rowcontent-4 {
    text-align: left;
} 

 .faq {
        color: 'black';
        padding : 15% 15% 0% 20%;
    }
    #root >div>div>div>div>section>section.styles_faq-row__2Rd2Y>div.styles_row-title__2yqnt.styles_closed__3LKOc>div{
        text-align: left;
  } 


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)  { 
    p > span {
      color: black;
      font-family: 'PT Serif', sans-serif !important;
      font-size: 11.5pt !important;
    }
    
    section {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
    } 
    
    
    .section-lead {
      max-width: 600px;
      margin: 1rem auto 1.5rem;
    }

  .text-muted .ql-align-justify>span  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180%;
    text-align: justify;
    margin-left: 17%;
  }

 
  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garuda {
    width: 60% !important;
    float: right !important;
    margin-top: 10% !important;
    margin-right: 7% !important;
    margin-left: 109% !important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -37px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  }

  .address {
    text-align: left !important;
    margin-left: -72% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterfaq {
    width: 149%!important;
    margin-top: -80%!important;
    margin-left: 26%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }

  .App {
    width: 119% !important;

  }

  #mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
    margin-left: 10% !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
  margin-left: 89% !important;
  margin-top: -15% !important;
  }

  .nav{
  width : 100px
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarfaq {
  width: 11% !important;
  float: left !important;
  margin-left: -125px !important;
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarfaq {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -43%!important;
}

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
  width: 84px !important;
    height: 37px !important;
    margin-left: -51px !important;
    margin-right: -46px !important;
    margin-top: 4px !important;
  } 
}

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
    margin-left: 89% !important;
    margin-top: -15% !important;
  }

  .faq {
    color: 'black';
    padding : 15% 15% 0% 20%;
}
#root >div>div>div>div>section>section.styles_faq-row__2Rd2Y>div.styles_row-title__2yqnt.styles_closed__3LKOc>div{
    text-align: left;
}

 }


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2){
  .jumbotron > .container.footer {
    width: 26% !important;
 }
} */

/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
      margin-left: 89% !important;
      margin-top: -15% !important;
    }
    .faq {
      color: 'black';
      padding : 15% 15% 0% 20%;
  }
  #root >div>div>div>div>section>section.styles_faq-row__2Rd2Y>div.styles_row-title__2yqnt.styles_closed__3LKOc>div{
      text-align: left;
  }
  .jumbotron > .container.footer {
    width: 26% !important;
 }

    p > span {
      color: black;
      font-family: 'PT Serif', sans-serif !important;
      font-size: 11.5pt !important;
    }
    
    section {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
    } 
    
    
    .section-lead {
      max-width: 600px;
      margin: 1rem auto 1.5rem;
    }

  .text-muted .ql-align-justify>span  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180%;
    text-align: justify;
    margin-left: 17%;
  }

 
  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garuda {
    width: 60% !important;
    float: right !important;
    margin-top: 10% !important;
    margin-right: 7% !important;
    margin-left: 109% !important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -37px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  }

  .address {
    text-align: left !important;
    margin-left: -72% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterfaq {
    width: 149%!important;
    margin-top: -80%!important;
    margin-left: 26%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }

  .App {
    width: 119% !important;

  }

  #mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
    margin-left: 10% !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
  margin-left: 89% !important;
  margin-top: -15% !important;
  }

  .nav{
  width : 100px
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarfaq {
  width: 11% !important;
  float: left !important;
  margin-left: -125px !important;
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarfaq {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -35%!important;
}

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
  width: 84px !important;
    height: 37px !important;
    margin-left: -51px !important;
    margin-right: -46px !important;
    margin-top: 4px !important;
  } 
}

 */


 @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px) { 
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
      margin-left: 89% !important;
      margin-top: -15% !important;
    }
    .faq {
      color: 'black';
      padding : 15% 15% 0% 20%;
  }
  #root >div>div>div>div>section>section.styles_faq-row__2Rd2Y>div.styles_row-title__2yqnt.styles_closed__3LKOc>div{
      text-align: left;
  }
  .jumbotron > .container.footer {
    width: 26% !important;
 }

    p > span {
      color: black;
      font-family: 'PT Serif', sans-serif !important;
      font-size: 11.5pt !important;
    }
    
    section {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
    } 
    
    
    .section-lead {
      max-width: 600px;
      margin: 1rem auto 1.5rem;
    }

  .text-muted .ql-align-justify>span  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180%;
    text-align: justify;
    margin-left: 17%;
  }

 
  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: -49%!important;
    margin-left: 116%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -46%!important;
    margin-left: 145%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garuda {
    width: 45%!important;
    float: right!important;
    margin-top: -107%!important;
    margin-right: 7%!important;
    margin-left: 270%!important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -37px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 21px!important;
    height: 21px!important;
    margin-left: 115%!important;
    margin-top: -83%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -83%!important;
    margin-left: 143%!important;
    font-size: 12px!important;
  }

  .address {
    text-align: left!important;
    margin-left: -67%!important;
    margin-top: -20%!important;
    font-size: 11px!important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterfaq {
    width: 149%!important;
    margin-top: -80%!important;
    margin-left: -77%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }

  .App {
    width: 119% !important;

  }

  #mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
    margin-left: 10% !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
  margin-left: 89% !important;
  margin-top: -15% !important;
  }

  .nav{
  width : 100px
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarfaq {
  width: 11% !important;
  float: left !important;
  margin-left: -125px !important;
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarfaq {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -35%!important;
}

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
  width: 84px !important;
    height: 37px !important;
    margin-left: -51px !important;
    margin-right: -46px !important;
    margin-top: 4px !important;
  } 
}

@media only screen 
and (min-device-width: 412px) 
and (max-device-width: 819px) { 
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
    margin-left: 89% !important;
    margin-top: -15% !important;
  }
  .faq {
    color: 'black';
    padding : 15% 15% 0% 20%;
}
#root >div>div>div>div>section>section.styles_faq-row__2Rd2Y>div.styles_row-title__2yqnt.styles_closed__3LKOc>div{
    text-align: left;
}
.jumbotron > .container.footer {
  width: 26% !important;
}

  p > span {
    color: black;
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11.5pt !important;
  }
  
  section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  } 
  
  
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }

.text-muted .ql-align-justify>span  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180%;
  text-align: justify;
  margin-left: 17%;
}


.jumbotron > div > div > img.phone {
  width: 20%!important;
  margin-top: -41%!important;
  margin-left: 130%!important;
}

.jumbotron > div > div > span.phone {
  margin-top: -38%!important;
  margin-left: 158%!important;
  font-size: 12px!important;
  min-width: max-content;
}

.jumbotron > div > div > img.garuda {
  width: 48%!important;
  float: right!important;
  margin-top: -97%!important;
  margin-right: 7%!important;
  margin-left: 272%!important;
  height: 50%;
}

.jumbotron > div > .row.footer {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -37px !important;
}
.jumbotron > div > .footer-garuda {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -35px !important;
}
.jumbotron > div > div > img.mail {
  width: 20px!important;
  height: 25px!important;
  margin-left: 130%!important;
  margin-top: -77%!important;
}

.jumbotron > div > div > span.mail {
  margin-top: -75%!important;
  margin-left: 157%!important;
  font-size: 12px!important;
}

.address {
  text-align: left!important;
  margin-left: -72%!important;
  margin-top: -8%!important;
  font-size: 11px!important;
}

.jumbotron > div > div > div > span {
  width: 29px !important;
  height: 25px !important;
  margin-left: 37% !important;
  margin-top: -8% !important;
}

.jumbotron > div > img.logofooterfaq {
  width: 131%!important;
  margin-top: -80%!important;
  margin-left: -109%!important;
}



.jumbotron {
  width: 118% !important;
}

.App {
  width: 100% !important;

}

#mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
  margin-left: 10% !important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
  margin-left: 25% !important;
  margin-top: -19px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
margin-left: 89% !important;
margin-top: -15% !important;
}

.nav{
width : 100px
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarfaq {
width: 11% !important;
float: left !important;
margin-left: -125px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarfaq {
width: 40%!important;
margin-top: -1px!important;
margin-left: -35%!important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
width: 84px !important;
  height: 37px !important;
  margin-left: -51px !important;
  margin-right: -46px !important;
  margin-top: 4px !important;
} 
}

 

 
