@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
  .z-depth-1.black.dark-4.row.login {
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 273px!important;
    width: 47%!important;
    margin-top: 41%!important;

  }

  .text-login {
    margin-top: -75%!important;
    margin-left: -44%!important;
    text-align: center;
  }
  .text-login .paragraf-login {
    width: 37% !important;
    margin-left: 60% !important;
    margin-top: 5% !important;
  }

  img.img-login {
    margin-left: 29%!important;
    margin-top: 126%!important;
    width: 54%!important;
  }

  .address {
    text-align: left !important;
    margin-left: -53% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterlogin {
    width: 149%!important;
    margin-top: -80%!important;
    margin-left: 44%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  .jumbo.login.jumbotron {
    width: 137% !important;
  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
    width: 84px !important;
      height: 37px !important;
      margin-left: -51px !important;
      margin-right: -46px !important;
      margin-top: 4px !important;
  }
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarlogin {
    width: 11% !important;
    float: left !important;
    margin-left: -142px !important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarlogin {
    width: 40%!important;
    margin-top: 0px!important;
    margin-left: -40%!important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.login {
    margin-left: 85% !important;
    margin-top: -13% !important;
  }
  .jumbotron > .container.footer {
        width: 26% !important;
     }
  .login.jumbotron {
    width: 137% !important
  }
  } 

   
  @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px){
  .z-depth-1.black.dark-4.row.login {
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 261px!important;
    width: 49%!important;
    margin-top: 32%!important;

  }

  .text-login {
    margin-top: -74%!important;
    margin-left: -44%!important;
    text-align: center;
  }
  .text-login .paragraf-login {
    width: 37% !important;
    margin-left: 60% !important;
    margin-top: 3% !important;
  }

  img.img-login {
    margin-left: 29%!important;
    margin-top: 126%!important;
    width: 54%!important;
  }

 

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterlogin {
    width: 126%!important;
    margin-top: -76%!important;
    margin-left: -109%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  .jumbo.login.jumbotron {
    width: 137% !important;
  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
    width: 84px !important;
      height: 37px !important;
      margin-left: -51px !important;
      margin-right: -46px !important;
      margin-top: 4px !important;
  }
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarlogin {
    width: 11% !important;
    float: left !important;
    margin-left: -142px !important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarlogin {
    width: 40%!important;
    margin-top: 0px!important;
    margin-left: -40%!important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.login {
    margin-left: 85% !important;
    margin-top: 0% !important;
  }
  .jumbotron > .container.footer {
        width: 26% !important;
     }
  .login.jumbotron {
    width: 137% !important
  }
  }  

  @media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 819px){
  .z-depth-1.black.dark-4.row.login {
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 346px!important;
    width: 49%!important;
    margin-top: 45%!important;

  }

  .text-login {
    margin-top: -91%!important;
    margin-left: -10%!important;
    text-align: center;

  }
  .text-login .paragraf-login {
    width: 49%!important;
    margin-left: 55%!important;
    margin-top: 3%!important;
  }

  img.img-login {
    margin-left: 29%!important;
    margin-top: 110%!important;
    width: 54%!important;
  }

  /* .address {
    text-align: left !important;
    margin-left: -53% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  } */

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterlogin {
    width: 121%!important;
    margin-top: -49%!important;
    margin-left: -121%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  .jumbo.login.jumbotron {
    width: 137% !important;
  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
    width: 84px !important;
      height: 37px !important;
      margin-left: -51px !important;
      margin-right: -46px !important;
      margin-top: 4px !important;
  }
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarlogin {
    width: 11% !important;
    float: left !important;
    margin-left: -142px !important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarlogin {
    width: 40%!important;
    margin-top: 0px!important;
    margin-left: -37%!important;
  }
  
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.login {
    margin-left: 85% !important;
    margin-top: 0% !important;
  }
  .jumbotron > .container.footer {
        width: 26% !important;
     }
  .login.jumbotron {
    width: 137% !important
  }
  }  