 h5.latcard{
    background-color: #e0e0e0;
    color: #212529;
    border-radius: 5px;
    width: auto;
    padding: 8px;
  }
  .card-page:hover{
    background-color: #e9eaea;
  }
  .img-page{
    width:85%;
  }
  .newspage-date{
    font-size: 14px;
    color: grey;
    text-align: left;
    margin: 0% 0% 1% 0%;
  }
  .newspage-title{
   
    font-family: 'PT Serif', sans-serif;
    padding: 2% 8% 1% 8%;
    text-align: left;
  }
  p.card-title{
    color: black;
    font-size: 16px;
    text-align: left;
    font-family: 'PT Serif', sans-serif !important;
    font: -webkit-control;
  }
  .card-page p.number{
   
    font-family: 'PT Serif', sans-serif;
    font-size: 11px;
    color: grey;
    text-align: left;
    margin: 0%;
  } 

  
  /* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){
    h5.latcard{
      background-color: #e0e0e0 !important;
      color: #212529 !important;
      border-radius: 5px !important;
      width: 43% !important;
      padding: 8px !important;
      margin-left: 36% !important;
    }
    .card-page:hover{
      background-color: #e9eaea !important;
    }
    .img-page{
      width:85% !important;
    }
    .newspage-date{
      font-size: 14px !important;
      color: grey !important;
      text-align: left !important;
      margin: 0% 0% 1% 0% !important;
    }
    .newspage-title{
      font-family: 'PT Serif', sans-serif !important;
      padding: 10% 8% 1% 8% !important;
      text-align: left !important;
    }
    p.card-title{
      color: black !important;
      font-size: 16px !important;
      text-align: center !important;  
      font-family: 'PT Serif', sans-serif !important;
      padding-left: 16% !important
    }
    .card-page p.number{  
      font-family: 'PT Serif', sans-serif !important;
      font-size: 11px !important;
      color: grey !important;
      text-align: center !important;
      margin: 0% !important;
      padding-left: 16%;
    }
    div.col-md-6 > .img.img-fluid.img-list-music {
      max-width: 100% !important;
      height: auto !important;
      margin-left: 18% !important;
    }
    .jumbotron {
      width: 122%
    }
  } */


  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  h5.latcard{
    background-color: #e0e0e0 !important;
    color: #212529 !important;
    border-radius: 5px !important;
    width: 43% !important;
    padding: 8px !important;
    margin-left: 36% !important;
  }
  .card-page:hover{
    background-color: #e9eaea !important;
  }
  .img-page{
    width:85% !important;
  }
  .newspage-date{
    font-size: 14px !important;
    color: grey !important;
    text-align: left !important;
    margin: 0% 0% 1% 0% !important;
  }
  .newspage-title{
    font-family: 'PT Serif', sans-serif !important;
    padding: 10% 8% 1% 8% !important;
    text-align: left !important;
  }
  p.card-title{
    color: black !important;
    font-size: 16px !important;
    text-align: center !important;  
    font-family: 'PT Serif', sans-serif !important;
    padding-left: 16% !important
  }
  .card-page p.number{  
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11px !important;
    color: grey !important;
    text-align: center !important;
    margin: 0% !important;
    padding-left: 16%;
  }
  div.col-md-6 > .img.img-fluid.img-list-music {
    max-width: 100% !important;
    height: auto !important;
    margin-left: 18% !important;
  }
  .jumbotron {
    width: 122%
  }

}


@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 740px)  { 
  h5.latcard{
    background-color: #e0e0e0 !important;
    color: #212529 !important;
    border-radius: 5px !important;
    width: 43% !important;
    padding: 8px !important;
    margin-left: 36% !important;
  }
  .card-page:hover{
    background-color: #e9eaea !important;
  }
  .img-page{
    width:85% !important;
  }
  .newspage-date{
    font-size: 14px !important;
    color: grey !important;
    text-align: left !important;
    margin: 0% 0% 1% 0% !important;
  }
  .newspage-title{
    font-family: 'PT Serif', sans-serif !important;
    padding: 10% 8% 1% 8% !important;
    text-align: left !important;
  }
  p.card-title{
    color: black !important;
    font-size: 16px !important;
    text-align: center !important;  
    font-family: 'PT Serif', sans-serif !important;
    padding-left: 16% !important
  }
  .card-page p.number{  
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11px !important;
    color: grey !important;
    text-align: center !important;
    margin: 0% !important;
    padding-left: 16%;
  }
  div.col-md-6 > .img.img-fluid.img-list-music {
    max-width: 100% !important;
    height: auto !important;
    margin-left: 18% !important;
  }
  .jumbotron {
    width: 122%
  }

} 

@media only screen
and (max-device-width: 819px)  { 
  h5.latcard{
    background-color: #e0e0e0 !important;
    color: #212529 !important;
    border-radius: 5px !important;
    width: 43% !important;
    padding: 8px !important;
    margin-left: 36% !important;
  }
  .card-page:hover{
    background-color: #e9eaea !important;
  }
  .img-page{
    width:85% !important;
  }
  .newspage-date{
    font-size: 14px !important;
    color: grey !important;
    text-align: left !important;
    margin: 0% 0% 1% 0% !important;
  }
  .newspage-title{
    font-family: 'PT Serif', sans-serif !important;
    padding: 10% 8% 1% 8% !important;
    text-align: left !important;
  }
  p.card-title{
    color: black !important;
    font-size: 16px !important;
    text-align: center !important;  
    font-family: 'PT Serif', sans-serif !important;
    padding-left: 16% !important
  }
  .card-page p.number{  
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11px !important;
    color: grey !important;
    text-align: center !important;
    margin: 0% !important;
    padding-left: 16%;
  }
  div.col-md-6 > .img.img-fluid.img-list-music {
    max-width: 100% !important;
    height: auto !important;
    margin-left: 18% !important;
  }
  .jumbotron {
    width: 122%
  }

} 


