
  
  



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

 /* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)  { 
    p > span {
      color: black;
      font-family: 'PT Serif', sans-serif !important;
      font-size: 11.5pt !important;
    }
    
    section {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      padding: 30px;
    } 
    
    
    .section-lead {
      max-width: 600px;
      margin: 1rem auto 1.5rem;
    }

  .text-muted .ql-align-justify>span  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180%;
    text-align: justify;
    margin-left: 17%;
  }

  #about > div > div > div > iframe.ql-video{
    width: 100% !important;
    height: 57% !important;
    margin-top: 18% !important;
    margin-left: 18% !important;
    border-radius: 2% !important;
  }

  h1 > mark.caption {
    background-color: grey !important;
    color: white !important;
    padding: 0em !important;
}
  

  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garuda {
    width: 60% !important;
    float: right !important;
    margin-top: 10% !important;
    margin-right: 7% !important;
    margin-left: 109% !important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -37px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  }

  .address {
    text-align: left !important;
    margin-left: -72% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterpage {
    width: 149%!important;
    margin-top: -80%!important;
    margin-left: 26%!important;
  }

  

  .jumbotron {
    width: 118% !important;
  }

  .App {
    width: 119% !important;

  }

  #mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
    margin-left: 10% !important;
  }

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
    margin-left: 25% !important;
    margin-top: -19px !important;
  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
  margin-left: 89% !important;
  margin-top: -15% !important;
  }

  .nav{
  width : 100px
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarpage {
  width: 11% !important;
  float: left !important;
  margin-left: -125px !important;
}

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarpage {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -43%!important;
}

  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
  width: 84px !important;
    height: 37px !important;
    margin-left: -51px !important;
    margin-right: -46px !important;
    margin-top: 4px !important;
  } 
}
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
    margin-left: 89% !important;
    margin-top: -15% !important;
  }
 } */


/* @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2){
  /* .jumbotron > .container.footer {
    width: 26% !important; */
 

 /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  p > span {
    color: black;
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11.5pt !important;
  }
  
  section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  } 
  
  
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }

.text-muted .ql-align-justify>span  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180%;
  text-align: justify;
  margin-left: 17%;
}

#about > div > div > div > iframe.ql-video{
  width: 100% !important;
  height: 57% !important;
  margin-top: 18% !important;
  margin-left: 18% !important;
  border-radius: 2% !important;
}

h1 > mark.caption {
  background-color: grey !important;
  color: white !important;
  padding: 0em !important;
}


.jumbotron > div > div > img.phone {
  width: 20%!important;
  margin-top: 13%!important;
  margin-left: 43%!important;
}

.jumbotron > div > div > span.phone {
  margin-top: -22%!important;
  margin-left: 71%!important;
  font-size: 12px!important;
  min-width: max-content;
}

.jumbotron > div > div > img.garuda {
  width: 60% !important;
  float: right !important;
  margin-top: 10% !important;
  margin-right: 7% !important;
  margin-left: 109% !important;
  height: 50%;
}

.jumbotron > div > .row.footer {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -37px !important;
}
.jumbotron > div > .footer-garuda {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -35px !important;
}
.jumbotron > div > div > img.mail {
  width: 22px!important;
  height: 25px!important;
  margin-left: 43%!important;
  margin-top: -17%!important;
}

.jumbotron > div > div > span.mail {
  margin-top: -21%!important;
  margin-left: 71%!important;
  font-size: 12px!important;
}

.address {
  text-align: left !important;
  margin-left: -72% !important;
  margin-top: 8% !important;
  font-size: 11px !important;
}

.jumbotron > div > div > div > span {
  width: 29px !important;
  height: 25px !important;
  margin-left: 37% !important;
  margin-top: -8% !important;
}

.jumbotron > div > img.logofooterpage {
  width: 149%!important;
  margin-top: -80%!important;
  margin-left: 26%!important;
}



.jumbotron {
  width: 118% !important;
}

.App {
  width: 119% !important;

}

#mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
  margin-left: 10% !important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
  margin-left: 25% !important;
  margin-top: -19px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
margin-left: 89% !important;
margin-top: -15% !important;
}

.nav{
width : 100px
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarpage {
width: 11% !important;
float: left !important;
margin-left: -125px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarpage {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -34%!important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
width: 84px !important;
  height: 37px !important;
  margin-left: -51px !important;
  margin-right: -46px !important;
  margin-top: 4px !important;
} 
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
  margin-left: 89% !important;
  margin-top: -15% !important;
}
 .jumbotron > .container.footer {
    width: 26% !important;

}
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 740px) { 
  p > span {
    color: black;
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11.5pt !important;
  }
  
  section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  } 
  
  
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }

.text-muted .ql-align-justify>span  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180%;
  text-align: justify;
  margin-left: 17%;
}

#about > div > div > div > iframe.ql-video{
  width: 100% !important;
  height: 57% !important;
  margin-top: 18% !important;
  margin-left: 18% !important;
  border-radius: 2% !important;
}

h1 > mark.caption {
  background-color: grey !important;
  color: white !important;
  padding: 0em !important;
}


.jumbotron > div > div > img.phone {
  width: 20%!important;
  margin-top: -49%!important;
  margin-left: 143%!important;
}

.jumbotron > div > div > span.phone {
  margin-top: -55%!important;
  margin-left: 171%!important;
  font-size: 12px!important;
  min-width: max-content;
} 

.jumbotron > div > div > img.garudapage {
  width: 60%!important;
  float: right!important;
  margin-top: -98%!important;
  margin-right: 6%!important;
  margin-left: 275%!important;
  height: 50%;
}

.jumbotron > div > .row.footer {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -37px !important;
}
.jumbotron > div > .footer-garuda {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -35px !important;
}
.jumbotron > div > div > img.mail {
  width: 21px!important;
  height: 21px!important;
  margin-left: 141%!important;
  margin-top: -83%!important;
}

.jumbotron > div > div > span.mail {
  margin-top: -83%!important;
    margin-left: 168%!important;
    font-size: 12px!important;
} 

.address {
  text-align: left !important;
  margin-left: -72% !important;
  margin-top: 8% !important;
  font-size: 11px !important;
}

.jumbotron > div > div > div > span {
  width: 29px !important;
  height: 25px !important;
  margin-left: 37% !important;
  margin-top: -8% !important;
}

.jumbotron > div > img.logofooterpage {
  width: 117%!important;
  margin-top: -62%!important;
  margin-left: -118%!important;
}



.jumbotron {
  width: 118% !important;
}

.App {
  width: 119% !important;

}

#mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
  margin-left: 10% !important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
  margin-left: 25% !important;
  margin-top: -19px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.page {
  margin-top: 0%!important;
  margin-left: 90% !important;
}

.nav{
width : 100px
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarpage {
width: 11% !important;
float: left !important;
margin-left: -125px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarpage {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -34%!important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
width: 84px !important;
  height: 37px !important;
  margin-left: -51px !important;
  margin-right: -46px !important;
  margin-top: 4px !important;
} 

 .jumbotron > .container.footer {
    width: 26% !important;

}
} 


@media only screen 
and (max-device-width: 819px) { 
  p > span {
    color: black;
    font-family: 'PT Serif', sans-serif !important;
    font-size: 11.5pt !important;
  }
  
  section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  } 
  
  
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }

.text-muted .ql-align-justify>span  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180%;
  text-align: justify;
  margin-left: 17%;
}

#about > div > div > div > iframe.ql-video{
  width: 100% !important;
  height: 57% !important;
  margin-top: 18% !important;
  margin-left: 18% !important;
  border-radius: 2% !important;
}

h1 > mark.caption {
  background-color: grey !important;
  color: white !important;
  padding: 0em !important;
}


.jumbotron > div > div > img.phone {
  width: 20%!important;
margin-top: -53%!important;
margin-left: 154%!important;
}

.jumbotron > div > div > span.phone {
  margin-top: -49%!important;
margin-left: 189%!important;
font-size: 12px!important;
min-width: max-content;
}

.jumbotron > div > div > img.garudapage {
  width: 44%!important;
  float: right!important;
  margin-top: -95%!important;
  margin-right: 7%!important;
  margin-left: 278%!important;
  height: 50%;
}

.jumbotron > div > .row.footer {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -37px !important;
}
.jumbotron > div > .footer-garuda {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 45% !important;
  margin-left: -35px !important;
}
.jumbotron > div > div > img.mail {
  width: 19px!important;
  height: 23px!important;
  margin-left: 153%!important;
  margin-top: -80%!important;
}

.jumbotron > div > div > span.mail {
  margin-top: -78%!important;
margin-left: 186%!important;
font-size: 12px!important;
}

.address {
  text-align: left!important;
  margin-left: -119%!important;
  margin-top: -14%!important;
  font-size: 11px!important;
}

.jumbotron > div > div > div > span {
  width: 29px !important;
  height: 25px !important;
  margin-left: 37% !important;
  margin-top: -8% !important;
}

.jumbotron > div > img.logofooterpage {
  width: 116%!important;
  margin-top: -50%!important;
  margin-left: -124%!important;
}



.jumbotron {
  width: 118% !important;
}

.App {
  width: 119% !important;

}

#mainNav > div > #navbarResponsive > ul.navbar-nav > li.nav-item > a.c-main-about > a.nav-link.js-scroll-trigger.about{
  margin-left: 10% !important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
  margin-left: 25% !important;
  margin-top: -19px !important;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.page {
  margin-top: 0%!important;
  margin-left: 90%!important;
}

.nav{
width : 100px
}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarpage {
  width: 11%!important;
  float: left!important;
  margin-left: -126px!important;

}

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarpage {
  width: 40%!important;
  margin-top: -1px!important;
  margin-left: -37%!important;
}

#mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav > li > a > button.btn.btn-outline-light.about{
width: 84px !important;
  height: 37px !important;
  margin-left: -51px !important;
  margin-right: -46px !important;
  margin-top: 4px !important;
} 

 .jumbotron > .container.footer {
    width: 26% !important;

}
} 
