/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) { 

    .z-depth-1.black.dark-4.row.register{
      display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 232px!important;
    width: 55%!important;
    margin-top: 23%!important;
  
    }
    #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
        margin-left: 25% !important;
        margin-top: -19px !important;
      }

      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarsignup {
        width: 6% !important;
        float: left !important;
        margin-left: -147px !important;
      }
      
      nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarsignup {
        width: 23%!important;
        margin-top: -1px!important;
        margin-left: -43%!important;
      }
  
    
    .jumbotron > div > div > img.phone {
      width: 20%!important;
      margin-top: 13%!important;
      margin-left: 43%!important;
    }
  
    .jumbotron > div > div > span.phone {
      margin-top: -22%!important;
      margin-left: 71%!important;
      font-size: 12px!important;
      min-width: max-content;
    }
  
    .jumbotron > div > div > img.garudaregister {
      width: 60% !important;
      float: right !important;
      margin-top: 10% !important;
      margin-right: 7% !important;
      margin-left: 100% !important;
      height: 50%;
    }
  
    .jumbotron > div > .row.footer {
      display: flex !important;
      flex-wrap: wrap !important;
      margin-right: 45% !important;
      margin-left: -25px !important;
    }
    .jumbotron > div > .footer-garuda {
      display: flex !important;
      flex-wrap: wrap !important;
      margin-right: 45% !important;
      margin-left: -35px !important;
    }
    .jumbotron > div > div > img.mail {
      width: 22px!important;
      height: 25px!important;
      margin-left: 43%!important;
      margin-top: -17%!important;
    }
  
    .jumbotron > div > div > span.mail {
      margin-top: -21%!important;
      margin-left: 71%!important;
      font-size: 12px!important;
    }

    .address {
      text-align: left !important;
      margin-left: -53% !important;
      margin-top: 8% !important;
      font-size: 11px !important;
    }
  
    .jumbotron > div > div > div > span {
      width: 29px !important;
      height: 25px !important;
      margin-left: 37% !important;
      margin-top: -8% !important;
    }
  
    .jumbotron > div > img.logofooterregister {
      width: 149%!important;
      margin-top: -80%!important;
      margin-left: 44%!important;
    }
  
  
    .jumbotron {
      width: 118% !important;
    }

  
    .App {
      width: 119% !important;
  
    }
  
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right {
      margin-left: 80% !important;
  
  }

  .text-register {
    margin-left: 50%!important;
    margin-top: -89%!important;
    width: 40%!important;
    }

    img.img-register {
        margin-left: 30%!important;
        margin-top: 175%!important;
        width: 54%!important;
      }

     

      .register.jumbotron {
        width: 137% !important
      }
    }

    @media (max-width: 900px) {
    .jumbotron > .container.footer {
      width: 20% !important;
  
    }
  
  
  } */


  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .z-depth-1.black.dark-4.row.register{
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 280px!important;
    width: 47%!important;
    margin-top: 23%!important;

  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
      margin-left: 25% !important;
      margin-top: -19px !important;
    }

    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarsignup {
      width: 10% !important;
      float: left !important;
      margin-left: -140px !important;
    }
    
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarsignup {
      width: 36%!important;
      margin-top: 0px!important;
      margin-left: -42%!important;
    }

  
  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garudaregister {
    width: 60% !important;
    float: right !important;
    margin-top: 10% !important;
    margin-right: 7% !important;
    margin-left: 100% !important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -25px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  }

  .address {
    text-align: left !important;
    margin-left: -60% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterregister {
    width: 149%!important;
    margin-top: -88%!important;
    margin-left: 44%!important;
  }


  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.register {
    margin-left: 80% !important;
    margin-top: -12% !important;

}

.text-register {
  margin-left: 50%!important;
  margin-top: -80%!important;
  width: 40%!important;
  }

  img.img-register {
      margin-left: 30%!important;
      margin-top: 195%!important;
      width: 54%!important;
    }

   

    .register.jumbotron {
      width: 137% !important
    }

    .jumbotron > .container.footer {
      width: 20% !important;
  }
}





/* Portrait and Landscape */
@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 740px){ 
  .z-depth-1.black.dark-4.row.register{
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 264px!important;
    width: 49%!important;
    margin-top: 23%!important;

  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
      margin-left: 25% !important;
      margin-top: -19px !important;
    }

    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarsignup {
      width: 10% !important;
      float: left !important;
      margin-left: -140px !important;
    }
    
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarsignup {
      width: 36%!important;
      margin-top: 0px!important;
      margin-left: -42%!important;
    }

  
  .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  }

  .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  }

  .jumbotron > div > div > img.garudaregister {
    width: 48%!important;
    float: right!important;
    margin-top: -102%!important;
    margin-right: 7%!important;
    margin-left: 259%!important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -25px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  }

  .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  }

   .address {
    text-align: left !important;
    margin-left: -53% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  }

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterregister {
    width: 126%!important;
    margin-top: -80%!important;
    margin-left: -109%!important;
  }


  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.register {
    margin-left: 80% !important;
    margin-top: 0% !important;

}

.text-register {
  margin-left: 50%!important;
  margin-top: -80%!important;
  width: 40%!important;
  }

  img.img-register {
      margin-left: 30%!important;
      margin-top: 175%!important;
      width: 54%!important;
    }

   

    .register.jumbotron {
      width: 137% !important
    }

    .jumbotron > .container.footer {
      width: 20% !important;
  }
}  


@media only screen 
and (max-device-width: 819px){ 
  .z-depth-1.black.dark-4.row.register{
    display: inline-block!important;
    padding: 32px 48px 0!important;
    border: 1px solid #000!important;
    margin-left: 354px!important;
    width: 51%!important;
    margin-top: 23%!important;

  }
  #mainNav > div > div#navbarResponsive.navbar-collapse.collapse.show > ul.navbar-nav{
      margin-left: 25% !important;
      margin-top: -19px !important;
    }

    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.garudanavbarsignup {
      width: 10% !important;
      float: left !important;
      margin-left: -140px !important;
    }
    
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > a > img.nlenavbarsignup {
      width: 36%!important;
      margin-top: 0px!important;
      margin-left: -35%!important;
    }

  
  /* .jumbotron > div > div > img.phone {
    width: 20%!important;
    margin-top: 13%!important;
    margin-left: 43%!important;
  } */

  /* .jumbotron > div > div > span.phone {
    margin-top: -22%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
    min-width: max-content;
  } */

  .jumbotron > div > div > img.garudaregister {
    width: 49%!important;
    float: right!important;
    margin-top: -98%!important;
    margin-right: 7%!important;
    margin-left: 275%!important;
    height: 50%;
  }

  .jumbotron > div > .row.footer {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -25px !important;
  }
  .jumbotron > div > .footer-garuda {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 45% !important;
    margin-left: -35px !important;
  }
  /* .jumbotron > div > div > img.mail {
    width: 22px!important;
    height: 25px!important;
    margin-left: 43%!important;
    margin-top: -17%!important;
  } */

  /* .jumbotron > div > div > span.mail {
    margin-top: -21%!important;
    margin-left: 71%!important;
    font-size: 12px!important;
  } */

   /* .address {
    text-align: left !important;
    margin-left: -53% !important;
    margin-top: 8% !important;
    font-size: 11px !important;
  } */

  .jumbotron > div > div > div > span {
    width: 29px !important;
    height: 25px !important;
    margin-left: 37% !important;
    margin-top: -8% !important;
  }

  .jumbotron > div > img.logofooterregister {
    width: 110%!important;
    margin-top: -41%!important;
    margin-left: -131%!important;
  }


  .jumbotron {
    width: 118% !important;
  }


  .App {
    width: 119% !important;

  }

  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top > div > button.navbar-toggler.navbar-toggler-right.navbar.register {
    margin-left: 80%!important;
    margin-top: 0%!important;

}

.text-register {
  margin-left: 50%!important;
    margin-top: -83%!important;
    width: 59%!important;
  }

  img.img-register {
    margin-left: 30%!important;
    margin-top: 126%!important;
    width: 54%!important;
    }

   

    .register.jumbotron {
      width: 137% !important
    }

    .jumbotron > .container.footer {
      width: 20% !important;
  }
}   