.services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
    
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;   
  }
  
  .service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service > * {
    flex: 1 1 100%;
  }
  
  .service .cta {
    align-self: flex-end;
  }

  .back {
      margin-left: 5%;
  }
  
  .orange {
  background: #F8971D !important
  }
.card-content > .card {
  margin: 1%;
  width: calc(96% / 2);
  background: #1a92b7;
  border-radius: 7px;
  box-sizing: border-box;
  text-align: center;
  font-size: 141px;
  text-transform: uppercase;
  padding: 10px 0;
  float: left;
  color: #fff;
  transition: .5s;
  -webkit-transition: .5s;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
 
    background-color: #F8971D;
    user-select: none;
    transition: 0s;
    -webkit-transition: 0s;
}

.card-header-title {
  background: #f4f4f4;
}

.card-element-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 33px;
  color: #7f7f7f;
}

/* .sp-modal {
  width: 100vw;    /* Occupy the 90% of the screen width */
  /* max-width: 100vw; */

  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
